aiohttp           
APScheduler        
bcrypt             
email-validator   
fastapi            
hypercorn        
motor              
packaging          
pytest             
pytest-asyncio     
python-decouple   
python-jose        
python-multipart   
redis              
requests          
setuptools         
websockets         